.control {
  margin: 1rem 0;
  
}

.formclass{
  margin-top: 3rem auto;
  color: white;
  margin: 7.4rem auto;
  width: 95%;
  max-width: 35rem;
  border-radius: 6px;
  background-color: purple;
  border: 1px solid black;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  
  
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}

.control input,
.control textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.2rem;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: #230052;
}

.button {
  cursor: pointer;
  padding: 8px;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 6px;
  background: rgb(12, 2, 12);
  
  margin: auto;
  margin-top: 2rem;
  
}

.button:hover {
  background-color: rgb(240, 181, 240);
  border-color: rgb(41, 6, 41);
  color: black;
  font-weight: bold;
}