.cart_cancel_btn {
    position: absolute;
    height: 2rem;
    width: 1.5rem;
    right: 5%;
}
.subtitle_name1 {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 45%;
}
.subtitle_name2 {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 30%;
}
.button {
    margin-top: 15px;

    cursor: pointer;
    padding: 8px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    background: #149df8;
}

.button:hover {
    background-color: #44b6fd;
}

.button1 {
    margin-top: 15px;
    margin-left: 43%;
    cursor: pointer;
    padding: 8px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    background: #149df8;
}

.button1:hover {
    background-color: #44b6fd;
}

.subtitle_name3 {
    display: flex;

    margin-right: 1.5rem;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 25%;
}
.subtitle {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
    margin: 0 26px;
}

.total {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 1%;
}

.total_amount {
    margin: 1rem;
}

.title {
    margin-left: 45%;
}

.cart_show {
    padding: 30px;
}