.footer {
    display: flex;
    margin-top: 70px;
    padding: 20px;
    justify-self: center;
    align-items: center;
    background:purple;
}
.footer-title {
    color: white;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
}
.footer-icons img {
    width: 40px;
    margin: 0 35px;
}
.footer-icons ul {
    list-style-type: none;
    display: flex;
    margin-right: 0px;
}